@mixin gutter-space {
    padding-left: $gutter-space;
    padding-right: $gutter-space;
}
@mixin link {
    @include small-font-style;
    font-family: $roman;
    text-decoration: none;
    color: lighten($z-black, 50);
    font-style: italic;
    color: $link-color;
}
@mixin box-shadow {
    -webkit-box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.1);
}