.customizer-pops {
    position: absolute;
    background: white;
    width: 100%;
    top: 8rem;
    left: 0;
    display: none;
    @include box-shadow;
    z-index: 9;
    padding: 2rem;

    &.show {
        display: block;
    }

    .icon-block {
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            display: flex;
            margin-left: -.8rem;
            margin-right: -.8rem;

            li {
                margin: 0 .8rem;
                padding: 0;
                width: 3.6rem;
                text-align: center;

                * {
                    transition: all ease .3s;
                }

                i {
                    display: block;
                    width: 3.6rem;
                    height: 3.6rem;
                    border: 3px solid #fff;
                    border-radius: 50%;
                }
                span {
                    font-size: .8rem;
                    letter-spacing: .1rem;
                    opacity: 0;
                    
                }

                &:hover {
                    i {
                        border: 3px solid lighten($primary-color, 45);
                    }
                    span {
                        opacity: 1;
                    }
                }

                &.active {
                    i {
                        border: 3px solid lighten($primary-color, 25);
                    }
                    span {
                        opacity: 1;
                    }
                }
            }
        }
    }
    
    .icon-info {
       padding-top: 2rem;
       margin-top: 2rem;
       border-top: .1rem solid lighten($black, 70); 

       .title {
           padding-bottom: .5rem;
       }
    }

}